@model IEnumerable<DepositsComparisonDomainLogic.Contracts.Models.Deposits.DepositInfo>
<body>
    <hr><h1 class="section-heading text-uppercase text-center">Депозит</h1>
    <h2 class="section-heading text-uppercase text-center">Намерете най-добрата оферта</h2><hr />
    <p>
        Сравнете <strong>@Model.Select(x => x.Name).Count() оферти</strong> от <strong>@Model.GroupBy(x => x.Bank.Name).Count() банки</strong>
    </p>
    <div class="top-search-form">
        <div class="form-row clearfix">

            <div class="input-holder">
                <label> Размер на кредита</label>

                <div class="input-num-wrapper buttons_added focused">
                    <input name="" type="number" id="" min="" max="" mystep="1000" value="10000" class="input-text qty">
                </div>
            </div>

            <div class="input-holder">
                <label>Валута</label>


                <div class="selecter  closed" tabindex="0">
                    <select tabindex="-1">
                        <option>BGN</option>
                        <option>EUR</option>
                    </select>
                </div>
            </div>
        </div><p></p>
        <div class="form-row clearfix">
            <div class="input-holder">
                <label> Срок на кредита</label>

                <div class="selecter  closed" tabindex="0">
                    <select name="" id="" class="selecter-main selecter-element" tabindex="-1">
                        <option value="48">4 години</option>
                        <option value="48">4 години</option>
                        <option value="60">5 години</option>
                        <option value="72">6 години</option>
                    </select>
                </div>
            </div>
        </div><hr />
    </div>
</body>
