@model DepositsComparisonDomainLogic.Contracts.Models.Deposits.DepositInfo
@using DepositsComparisonDomainLogic.Contracts.Models.Deposits
<body class="vw-100 vh-100 overflow-auto">
    <h1>
        Разплащателен план
    </h1><hr />
    <table class="table overflow" style="border: 1px solid; overflow-x:auto; background-color:white">
        <thead class="thead-dark">
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="col">Доходност на избрания депозит</th>
                <td>0.23%</td>
            </tr>
            <tr>
                <th scope="col">Общо изплатени</th>
                <td>5,012.50 BGN</td>
            </tr>
            <tr>
                <th scope="row">Сума на лихвата</th>
                <td>12.50 BGN</td>
            </tr>
            <tr>
                <th scope="row">Данък върху лихвата</th>
                <td>1.00 BGN</td>
            </tr>
            <tr>
                <th scope="row">Нетно изплатени</th>
                <td>5,011.50 BGN</td>
            </tr>
        </tbody>
    </table>
</body>