@{ 
    ViewData["Title"] = "NotFound";
}

<div>
    <img src="https://sg.fiverrcdn.com/photos/116080030/original/1ffc8db17d0d178f64ab9ae7b8f4e7826c68b79c.png?1534973366" alt="Alternate Text" />
</div>